*{
    box-sizing:border-box;
    user-select: none;
    /*outline:1px solid rgba(255,0,51,0.25);*/
}
html{
    margin:0;
    padding:0;
    background:#334;
    color:#fec;
    font:22px/1.5 "Noto Serif",serif,sans-serif;
}
body{
    max-width:1024px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
main{
    text-align:center;
    max-width:32rem;
    margin:0 auto;
    padding:2rem;
}
div#stack{
    font-size:2rem;
    line-height:1.5;
    vertical-align:top;
    position: relative;
    overflow:hidden;
    transition:0.3s ease;
    width:4rem;
    margin:0.75rem auto;
}
div#stack:after{
    content:"";
    background:linear-gradient(
        to bottom,
        rgba(51,51,68,0),
        rgba(51,51,68,1) 50%
    );
    display:block;
    width:100%;
    height:100%;
    left:0;
    top:4rem;
    position:absolute;
}
div#stack>div{
    transition:color 0.5s ease;
}
div#stack>div:first-of-type{
    font-size:3rem;
    outline:2px solid #fff;
    color:#fff;
    margin-bottom:0.6rem;
}

div.ui{
    pointer-events:none;
}
div.ui h1{
    font-size:1rem;
}
div.ui p{
    font-size:0.8rem;
}
div#instructions{
    padding:2rem;
    font-size:1rem;
    position:absolute;
    top:0;
    right:0;
    width:30%;
    text-align:left;
}
div#score{
    padding:2rem;
    font-size:1rem;
    position:absolute;
    top:0;
    left:0;
    width:30%;
    text-align:right;
}